* {
	outline: none!important;
}
html, body {
	margin: 0;
	font-family: $f_light;
}
p {
    margin: 0 0 10px;
}
h1 {
    text-transform: uppercase;
    font-family: $f_black;
    color: $main;
    font-size: 3em;
    text-align: center;
    @include mobile {
        font-size: 1.5em;     
    }
}
.container {
    @include lg-desktop {
        width: 1400px;
    }
    @include desktop {
        width: 1200px;
    }
    @include sm-desktop {
        width: 980px;
    }
    @include tablet {
        width: 720px;
    }
    @include mobile {
        width: 90%;
    }
    margin: 0 auto;
}
.flex_wrapper {
    @include flexbox();
    @include flex-direction(row);
}
.reverse {
    flex-direction: row-reverse;
}