.rangeslider {
    max-width: 1200px;
    background: url('../images/range_gr.png');
    background-size: 1200px;
    box-shadow: none;
    margin: 50px auto 30px;
    border-radius: 0;
    @include sm-desktop {
        background: url('../images/range_gr-md.png');
        max-width: 940px;
        background-size: 940px;        
    }
    @include tablet {
        background: url('../images/range_gr-sm.png');
        max-width: 740px;
        background-size: 740px;        
    }
    @include mobile {
        background: url('../images/range_gr-xs.png');
        max-width: 350px;
        background-size: 350px;      
        background-repeat: no-repeat;  
    }
    &__fill {
        background: url('../images/range.png');
        box-shadow: none;
        background-size: 1200px;
        border-radius: 0;
        @include sm-desktop {
            background: url('../images/range-md.png');
            max-width: 940px;
            background-size: 940px;
        }
        @include tablet {
            background: url('../images/range-sm.png');
            max-width: 740px;
            background-size: 740px;
        }
        @include mobile {
            background: url('../images/range-xs.png');
            max-width: 350px;
            background-size: 350px; 
            background-repeat: no-repeat;        
        }
    }
    &__handle {
        background: url('../images/handle.png');
        box-shadow: none;
        border: 0;
        width: 34px;
        height: 34px;
        @include sm-desktop {
            width: 28px;
            height: 28px;
            background-size: 28px;
        }
        @include tablet {
            width: 28px;
            height: 28px;
            background-size: 28px;
        }
        @include mobile {
            width: 20px;
            height: 20px;
            background-size: 20px;        
        }
        &::after {
            content: none;
        }
        .result {
            font-family: $f_black;
            position: absolute;
            top: -30px;
            left: 10px;
            @include mobile {
                left: 5px;       
            }
        }
        .drag {
            font-family: $f_light;
            text-transform: uppercase;
            position: absolute;
            top: 30px;
            left: -25px;
            color: #bdbdbd;
            font-size: 18px;
            @include mobile {
               font-size: 14px;        
            }
            &::after {
                font-family: 'FontAwesome';
                content: '\f178';
                position: relative;
                left: 10px;
                @include mobile {
                    left: 3px;   
                }
            }
            &::before {
                font-family: 'FontAwesome';
                content: '\f177';
                position: relative;
                right: 10px;
                @include mobile {
                    right: 3px;
                }
            }
        }
    }
}

.rangeslider--horizontal .rangeslider__handle {
    top: -4px;
    @include sm-desktop {
        top: -2px;
    }
    @include tablet {
        top: -2px;
    }
}
.rangeslider--active .rangeslider__handle, 
.rangeslider__handle:active {
    background: url('../images/handle.png');
    @include sm-desktop {
        width: 28px;
        height: 28px;
        background-size: 28px;
    }
    @include tablet {
        width: 28px;
        height: 28px;
        background-size: 28px;
    }
    @include mobile {
        width: 20px;
        height: 20px;
        background-size: 20px;        
    }
}