//Header menu effects
.ferdinand_effect  {
	.slick-current {
		&.menu_link {
			color: $yellow;
			&::before {
				-webkit-transform: scale3d(1, 1, 1);
				transform: scale3d(1, 1, 1);
			}
		}
	}
	.menu_link {
		position: relative;
		display: block;
		margin: 0 1.5em;
		padding: 0.65em 0;
		text-align: center;
		-webkit-transition: background 0.3s, color 0.3s;
		transition: background 0.3s, color 0.3s;
		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			background: $yellow;
			-webkit-transform: scale3d(0, 5, 1);
			transform: scale3d(0, 5, 1);
			-webkit-transform-origin: 0% 50%;
			transform-origin: 0% 50%;
			-webkit-transition: -webkit-transform 0.3s;
			transition: transform 0.3s;
			-webkit-transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
			transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
		}
	}
}


//Items fade in effects
.slideUp {
	visibility: hidden;
	opacity: 0;
	@include css3-prefix(transition, all 0.7s ease-in-out);
	@include css3-prefix(transform, translate3d(0, 50px, 0));
}
.slideRight {
	visibility: hidden;
	opacity: 0;
	@include css3-prefix(transition, all 0.7s ease-in-out);
	@include css3-prefix(transform, translate3d(50px, 0, 0));
}
.slideDown {
	visibility: hidden;
	opacity: 0;
	@include css3-prefix(transition, all 0.7s ease-in-out);
	@include css3-prefix(transform, translate3d(0, -50px, 0));
}
.scroll-active {
	.slideUp,
	.slideRight,
	.slideDown {
		visibility: visible;
		opacity: 1;
		@include css3-prefix(transform, translate3d(0, 0, 0));
	}
}