@font-face {
	font-family: 'NerisBlack';
	src: url('../fonts/Neris-Black.otf');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'NerisLight';
	src: url('../fonts/Neris-Light.otf');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'NerisSemibold';
	src: url('../fonts/Neris-SemiBold.otf');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'NerisThin';
	src: url('../fonts/Neris-Thin.otf');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome/fontawesome-webfont.eot?v=4.7.0');
	src: url('../fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), 
	url('../fonts/fontawesome/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), 
	url('../fonts/fontawesome/fontawesome-webfont.woff?v=4.7.0') format('woff'), 
	url('../fonts/fontawesome/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), 
	url('../fonts/fontawesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
  }