/************************************
 * Media mixins
 */

$mobile-width: 320px;
$tablet-width: 768px;
$sm-desktop-width: 980px;
$desktop-width: 1200px;
$lg-desktop-width: 1400px;

@mixin mobile {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$sm-desktop-width - 1px}) {
    @content;
  }
}

@mixin tablet-mobile {
  @media (min-width: #{$mobile-width}) and (max-width: #{$sm-desktop-width - 1px}) {
    @content;
  }
}

@mixin sm-desktop {
  @media (min-width: #{$sm-desktop-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop-width}) and (max-width: #{$lg-desktop-width - 1px}) {
    @content;
  }
}
@mixin lg-desktop {
  @media (min-width: #{$lg-desktop-width}) {
    @content;
  }
}


/************************************
 * Common mixins
 */

@mixin css3-prefix($property, $value) {
  -webkit-#{$property}: #{$value};
  -khtml-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}

@mixin border-radius($radius) {
  @include css3-prefix('border-radius', $radius);
}

@mixin flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex-size($size) {
  -webkit-box-flex: $size;
  -moz-box-flex: $size;
  -webkit-flex: $size;
  -ms-flex: $size;
  flex: $size;
}

@mixin flex-direction($direction) {
  flex-direction: $direction;
  -ms-flex-direction: $direction;
  -webkit-flex-direction: $direction;
}

@mixin fit-width {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}