.top_carousel {
    @include flexbox();
    @include flex-size(1);
    background-image: url('../images/bg.jpg');
    background-size: cover;
    padding-top: 35px;    
    .carousel_nav {        
        span {
            color: $main;
            font-size: 16px;
            text-transform: uppercase;
            font-family: $f_semi;
        }
    }
    .navigation {
        @include flexbox();
        @include flex-direction(row);
        justify-content: center;
        align-items: center;
        margin: 25px 0;
        span {
            @include flexbox();
            font-size: 16px;
        }
        .slick-prev, .slick-next {
            @include flexbox();
            @include css3-prefix(transform, none);
            position: relative;
            left: auto;
            right: auto;
            justify-content: center;
            &::before {
                font-family: 'FontAwesome';
                color: $b;
                background: transparent;
                font-size: 22px;
                opacity: 1;
            }
        }
        .slick-next {
            &::before {
                content: "\f105";                
            }
        }
        .slick-prev {
            &::before {
                content: "\f104";
            }
        }
    }
    .carousel_content {
        .carousel_item {
            align-items: center;
            @include tablet {
                @include flex-direction(column);
            }
            @include mobile {
                @include flex-direction(column);
            }
            .img_container, 
            .descr_container {
                @include flexbox();
                @include flex-direction(column);
                padding: 10px;          
            }
            .img_container {
                @include flex-size(1);
                img {
                    display: flex;
                    @include flex-direction(column); 
                    max-width: 100%;
                }
            }
            .descr_container {
                @include flex-size(1);
                .descrItem {                    
                    @include flexbox();
                    @include flex-direction(column);
                    margin: 15px 0;
                    padding: 15px;
                    border: 1px dotted transparent;
                    border-radius: 5px;
                    @include css3-prefix(transition, border ease-in-out .2s);
                    .descrItem__title {
                        font-size: 20px;
                        color: $main;
                        margin: 0 0 10px;
                        border-bottom: 1px dashed $main;
                        @include fit-width();
                        @include css3-prefix(transition, all ease-in-out .2s);
                    }
                    &:hover {
                        border: 1px dotted $main;
                        cursor: pointer;
                        .descrItem__title {
                           color: $yellow;
                           border-bottom: 1px dashed transparent;
                        }
                    }
                }
            }
        }
    }
}
.range_slider {
    padding: 3% 0;
    h1 {
        margin: 0;        
    }
    .range_wrapper {
        margin: 40px 0;
        .title {
            font-family: $f_semi;
            color: $yellow;
            text-align: center;
        }
    }
    
}